<div class="admin-panel">
  <h1> Admin Panel </h1>

  <div class="divider"></div>

  <ul class="admin-list">
    <li>
      <%= link_to('Games', "/admin/games", class: "margin admin-button") %>
    </li>

    <div class="divider"></div>

    <li>
      <%= link_to('Users', "/admin/users", class: "margin admin-button") %>
    </li>
  </ul>

</div>