<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Home</title>
  </head>

  <body>
    <h1>
      THIS IS HOME PAGE
    </h1>
  <br><br><br>

  <% @games.each do |game| %>
     Game: <%= game.title %> <br>
    <% end %>

  </body>

</html>
